body {
    display: flex;
    justify-content: center;
    background: darkred;
}

img.logo {
    display: flex;
    margin-left: -150%;
    padding: 20%;
    justify-content: flex-start;
}

div .logo-container {
    display: flex;
    background: black;
    border-radius: 16px;
}

.button {
border-radius: 50%;
}