body {
    display: flex;
    justify-content: center;
    align-content: center;
    background: darkred;
}

img.logo {
    display: flex;
    margin-left: -15%;
    padding: 10%;
    justify-content: flex-start;
}

div .logo-container {
    display: flex;
    border-radius: 16px;
}

.button {
border-radius: 50%;
}

div .display {
    display: flex;
    flex-direction: row-reverse;
    background: black;
    color: white;
    border-radius: 20%;
    padding: 6%;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-right: 16px solid #187dbc;
    border-left: 20px solid #187dbc;
  
}

button {
    border-radius: 50%;
    border: 1px solid #113C78;
    background-color: blue;
    color: white;
    width: 12%;
    height: 10%;
    margin: 10%;
    border-radius: 50%;
}


button.speacial-button {
    background-color: teal;
    color: white;
}


button.number-button {
    background-color:blue;
    color: white;
}

button.operator-button {
    background-color: teal;
    color: white;
}
